<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kurukurupapa.oauth03" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".menu.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webviewtwitter.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".browsertwitter.BrowserActivity"
            android:label="@string/title_activity_browser" >
        </activity>
        <activity
            android:name=".browserpingoogle20.BrowserPinGoogleActivity"
            android:label="@string/title_activity_browser_pin_google" >
        </activity>

        <!--
        ブラウザからインテントフィルタで戻ってくるために、singleTask or singleInstanceを設定します。
        -->
        <activity
            android:name=".intentfiltertwitter.IntentFilterActivity"
            android:label="@string/title_activity_intent_filter"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tryandroidoauth" />
            </intent-filter>
        </activity>
        <!--
        ブラウザからインテントフィルタで戻ってくるために、singleTask or singleInstanceを設定します。
        -->
        <activity
            android:name=".intentfiltergoogle.IntentFilterGoogleActivity"
            android:label="@string/title_activity_intent_filter_google"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="tryandroidoauth.kurukurupapa.co.jp"/>
            </intent-filter>
        </activity>
    </application>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
